.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        groupname
      %ul.main-header__left-box__member-list
        Member: mada
    .main-header__edit-btn
      = link_to "/groups/:id/edit", class:"main-header__edit-btn__text" do 
        Edit
  .messages
    .messages__upper-info
      %i.messages__upper-info__talker
        username
      %i.messages__upper-info__date
        2019/11/13(Wed) 21:06:26
    .messages__text
      このテキストはサンプルです



  .form
  = form_for [@group, @message] do |f|
    .input-box
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      = f.label :image, class: 'input-box__image' do
        %i.fa.fa-image
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'submit-btn'